<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.demo.book.mapper.ReplyMapper">

    <insert id="insertReply">
        INSERT INTO bootex.reply (content, member_email, board_bno, mod_date)
        VALUES( #{content}, #{memberEmail}, #{boardBno}, NOW() )
    </insert>

</mapper>